# Server port
PORT=8000

# Assets server port
ASSETS_PORT=8001

# CORS settings (comma separated)
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# Maximum file size for upload (in bytes)
MAX_FILE_SIZE=5242880

# Uploads directory path
UPLOADS_DIR=./uploads

# Data directory path
DATA_DIR=./data 

# Enoki API assets
ENOKI_TOKEN = "enoki_public_123abc..."
ENOKI_API_BASE_URL = "https://api.enoki.mystenlabs.com/v1"